<section class="mx-10">
  <h1 class="text-3xl">{{country().name}}</h1>
  <h2 class="text-3xl">{{country().population | number}}</h2>
  <h2>{{country().capitals}}</h2>
</section>

<section class="stats shadow mx-5 align-middle">
  <div class="stat place-items-center">
    <div class="stat-title">Población.</div>
    <div class="stat-value">{{country().population | number}}</div>
    <div class="stat-desc">{{currentYear()}} </div>
  </div>

  <div class="stat place-items-center">
    <div class="stat-title">Nombre</div>
    <div class="stat-value text-secondary">{{country().name}}</div>
    <div class="stat-desc text-secondary">↗︎ {{country().region}}</div>
  </div>

  <div class="stat place-items-center">
    <div class="stat-title">SubRegión</div>
    <div class="stat-value">{{country().subRegion}}</div>
    <div class="stat-desc">↘︎ {{country().codes_alpha_2}}</div>
  </div>
</section>

<figure class="diff aspect-15/4" tabindex="0">
  <div class="diff-item-1" role="img" tabindex="0">
    <img alt="daisy" src={{country().flagUrlSvg}} />
  </div>
  <div class="diff-item-2" role="img">
    <img class="blur opacity-5"
      alt="daisy"
      src= {{country().flagUrlSvg}} />
  </div>
  <div class="diff-resizer"></div>
</figure>
